{% load static %}
<html>
<head>
    <title>Diango Girls blog</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link href="https: //fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap" rel="stylesheet">

</head>
<body>
    <div class="page-header">
        <h1><a href="https://github.com/hamu02">Django Girls Blog</a></h1>
    </div>

    <!-- <div>
        <p>published: 23.02.2024</p>
        <h2><a href=””>My first post</a></h2>
        <p>こんにちは！よろしくお願いします</p>
    </div>

    <div>
        <br>
        <p>公開日: 2024/02/23, 17:52</p>
        <h2><a href="">2番目の投稿</a></h2>
        <p> こんにちは！よろしくお願いします！</p>
    </div> -->
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>